.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
}

tr {
  border-color: white;
  border-style: solid;
}

table {
  background-color: gray;
  margin: 10px;

}

.name {
  vertical-align: center;
}

.description {
  vertical-align: top;
}

.crop {
    width: 100px;
    height: 100px;
    overflow: hidden;
    border-radius: 50%;
    margin: 10px;
}

div.users {
  background-color: gray;
.background {
  
  /* Position the background fixed to all four sides of the screen */
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;

  /* Make sure that the background is behind the content */
  z-index: -1;

  /* set the color of the background to gray */
  background-color: #497285;
  background-size: cover;
}

h2 {
   color: white;
   font-size: 400%
}

h3 {
   color: white;
}

h4 {
   color: white;
}

#submitTeam {
  float: right;
}
/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
