.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
}



tr {
  border-color: white;
  border-style: solid;
}

table {
  background-color: gray;
  margin: 10px;

}


div.photo {
  background-color: gray;

  background-image: url("6.pic.jpg");
  background-size: cover;

  /* Make this a 100px circle */
  border-radius: 500px;
  width: 100px;
  height: 100px;

  /* center this circle */
  margin: auto;
}


.name {
  vertical-align: center;
}

.description {
  vertical-align: top;
}

.crop {
    width: 100px;
    height: 100px;
    overflow: hidden;
    border-radius: 50%;
    margin: 10px;
}

.background {
  
  /* Position the background fixed to all four sides of the screen */
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;

  /* Make sure that the background is behind the content */
  z-index: -1;

  /* set the color of the background to gray */
  background-color: #497285;
  background-size: cover;
}

h2 {
   color: white;
   font-size: 400%
}

h3 {
   color: white;
}

h4 {
   color: white;
}

div.register {
  color: white;
}

#submitTeam {
  float: right;
}
/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}











.content {

  /* Make the content take up half of the screen horizontally, but not larger than 500px */
  width: 70%;
  max-width: 800px;

  /* put a margin to the top and bottom of 100px, and center the content vertically */
  margin: 15px auto;

  /* put a border around the text content */
  padding: 20px;

  /* Make the content's background white */
  background-color: transparent;

  /* center align all of the text */
  text-align: center;
  color: black;

  font-family: 'Indie Flower', cursive;
}

.p {
  font-family: 'Indie Flower', cursive;
}

img.img-circle {

  /* make the photo an image, and make it cover the size of the photo */
  background-image: url("woman.jpg");
  background-size: cover;

  /* Make this a 100px circle */
  border-radius: 200px;
  width: 180px;
  height: 180px;

  /* center this circle */
  margin: auto;

  /* make the image pop over the top of the panel */
  margin-top: -50px;

  /* add a white border and drop shadow to the photo */
  box-shadow: 0px 2.5px 15px 0px rgba(0,0,0,0.3);

  /* Add a white border around the photo */
  border: 4px solid white;

}

h5 {
  margin-left: 100px;
  margin-top: 150px;
}

h6 {
  margin-left: 50px;
}



.marketing .col-lg-4 {
  margin-bottom: 10px;
  text-align: center;
}
.marketing h2 {
  font-weight: normal;
  font-size: 40px;
}
.marketing p{
}
.marketing .col-lg-4 p {
  margin-top: 100px;
  margin-right: 10px;
  margin-left: 10px;
}

.left {
  float: top;
  width: 350px;
  margin-left: 200px;
}

.mid {
  float: left;
  width: 350px;
} 

.right {
  float: left;
  width: 350px;
}


.beginning {
  text-align: center;
  float: left;
  margin-left: 140px;
  margin-top: 40px;
  margin-bottom: 40px;
}



.follow {
  text-align: center;
  float: left;
  margin-left: 80px;
  margin-top: 40px;
  margin-bottom: 40px;
}



.btn, .btn-large, .btn-flat {
  border: 10px;
  border-radius: 5px;
  display: inline-block;
  margin-top: 50px;
  margin-right: 5px;
  height: 60px;
  line-height: 36px;
  outline: 0;
  padding: 0 10rem;
  text-transform: uppercase;
  vertical-align: middle;
  -webkit-tap-highlight-color: transparent;
}



.btn, .btn-large {
  text-decoration: none;
  color: #fff;
  background-color: #26a69a;
  text-align: center;
  letter-spacing: .5px;
  transition: .2s ease-out;
  cursor: pointer;
}




footer {
  color: white;
  font-size: 14px;
  margin-top: 20px;
}

