<h2>Create Your Team</h2>
<h4>Team Name</h4>
<form>
	<input type="text" name="">
</form>
<h4>Max Number of Members</h4>
<form>
	<input type="text" name="">
</form>
<h4>Theme of Hack</h4>
<form>
	<input type="text" name="">
</form>
<h4>Team Skills</h4>
<form>
	<input type="text" name="">
</form>
<h4>Searching For</h4>
<form>
	<input type="text" name="">
</form>
<button type="button" class="btn btn-primary" ng-model="singleModel" uib-btn-checkbox btn-checkbox-true="1" btn-checkbox-false="0">
    Submit
</button>
