<div>
    <h2>My Dashboard</h2>
</div>

<div>
    <h4>My Teams</h4>
    <form>
        <input ng-model="userdata.teams_joined"></input>
    </form>
</div>

<div ng-controller="ButtonsCtrl">
        <form>
      <input type="file" name="pic" accept="image/*">
      <input type="submit">
    </form>
    <a href="views/createteam.html">
        <button type="button" class="btn btn-primary" ng-model="singleModel" uib-btn-checkbox btn-checkbox-true="1" btn-checkbox-false="0">
            Create a Team
        </button>
    </a>


    <a href="http://www.stackoverflow.com/">
        <button type="button" class="btn btn-primary" ng-model="singleModel" uib-btn-checkbox btn-checkbox-true="1" btn-checkbox-false="0">
            Join a Team
        </button>
    </a>

</div>


