<h2>Login</h2>
<h3>Email</h3>
<form name="auth">
	<input type="text" id="auth-email" name="auth-email"
		ng-model="credentials.email">
	<h3>Password</h3>
	<input type="password" id="auth-pwd" name="auth-pwd"
		ng-model="credentials.pwd">
	<div>
		<button type="button" class="btn btn-primary" ng-click="sendLogin()">
			Login</button>

		<p>
			Don't have an account? Register <a ui-sref="register"
				ui-sref-active="active">here</a>
		</p>
		<div ng-if="loginErr" class="text-danger">{{ loginErr }}</div>
	</div>
</form>
