<h2>Registration</h2>
<form class="form-horizontal" name="registration">
	<div class="form-group">
		<label for="reg-fname" class="control-label col-xs-6 col-s-3">First
			Name</label>
		<div class="col-xs-6 col-s-9">
			<input id="reg-fname" class="form-control" type="text"
				name="reg-fname" ng-model="reg.name_first" />
		</div>
	</div>
	<div class="form-group">
		<label for="reg-lname" class="control-label col-xs-6 col-s-3">Last
			Name </label>
		<div class="col-xs-6 col-s-9">
			<input id="reg-lname" class="form-control" type="text"
				name="reg-lname" ng-model="reg.name_last" />
		</div>
	</div>
	<div class="form-group">
		<label for="reg-email" class="control-label col-xs-6 col-s-3">Email
			Address</label>
		<div class="col-xs-6 col-s-9">
			<input id="reg-email" class="form-control" type="email" name="reg-email"
				ng-model="reg.email" />
		</div>
	</div>
	<div class="form-group">
		<label for="reg-pwd" class="control-label col-xs-6 col-s-3">Password</label>
		<div class="col-xs-6 col-s-9">
			<input id="reg-pwd" class="form-control" type="password" name="reg-pwd"
				ng-model="reg.pwd" />
		</div>
	</div>
	<div class="form-group">
		<label for="reg-lang" class="control-label col-xs-6 col-s-3">Skills</label>
		<div class="col-xs-6 col-s-9">
			<input id="reg-lang" class="form-control" type="text" name="reg-lang">
		</div>
	</div>

	<div class="form-group">
		<label for="reg-attend" class="control-label col-xs-6 col-s-3"> Attend As</label>
		<div class="col-xs-6 col-s-9" id="reg-attend">
			<div class="radio">
				<label>
					<input value="Competitor" type="radio" name="reg-attend" ng-model="reg.attendType">Competitor
				</label>
			</div>
			<div class="radio">
				<label>
					<input value="Observer" type="radio" name="reg-attend" ng-model="reg.attendType">Observer
				</label>
			</div>
			<div class="radio">
				<label>
					<input value="Mentor" type="radio" name="reg-attend" ng-model="reg.attendType">Mentor
				</label>
			</div>
		</div>
	</div>
	<h5><b>Personal Description</b></h5>
	<textarea rows="6" cols="75">
What are you like?
</textarea>
	<br>
	<button type="button" class="btn btn-primary" ng-click="submitReg()">
		Submit</button>