<h2>Registration</h2>
<h4>First Name</h4>
<form>
	<input type="text" name="">
</form>
<h4>Last Name</h4>
<form>
	<input type="text" name="">
</form>
<h4>Email Address</h4>
<form>
	<input type="text" name="">
</form>
<h4>Password</h4>
<form>
	<input type="password" name="">
</form>
<h4>Skills</h4>
<form>
	<input type="text" name="">
</form>
<h4>Preferred Language</h4>
<form>
	<input type="text" name="">
</form>
<h4>Attending As:</h4>
<form action="">
  <input type="radio" name="category" value="Competitor"> Competitor<br>
  <input type="radio" name="category" value="Observer"> Observer<br>
  <input type="radio" name="category" value="Mentor"> Mentor <br>
</form>
<h4>Personal Description</h4>
<textarea rows="6" cols="75">
What are you like?
</textarea><br>
<button type="button" class="btn btn-primary">
	Submit      	
</button>
