<div>
  <div>
    <h2>Team Profile</h2>
</div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title" style="color:black">
          <a href tabindex="0" class="accordion-toggle" ng-click="toggleOpen()" uib-accordion-transclude="heading">
            <span uib-accordion-header ng-class="{'text-muted': isDisabled}">
              Team Name
            </span>
          </a>
        </h3>
        <h4 class="panel-body" style="color:black">
            <p>{{teamdata.team_name}}</p>
        </h4>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title" style="color:black">
          <a href tabindex="0" class="accordion-toggle" ng-click="toggleOpen()" uib-accordion-transclude="heading">
            <span uib-accordion-header ng-class="{'text-muted': isDisabled}">
              Spots Available
            </span>
          </a>
        </h3>
        <h4 class="panel-body" style="color:black">
            <p>{{teamdata.spots_available}}</p>
        </h4>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title" style="color:black">
          <a href tabindex="0" class="accordion-toggle" ng-click="toggleOpen()" uib-accordion-transclude="heading">
            <span uib-accordion-header ng-class="{'text-muted': isDisabled}">
              Blurb
            </span>
          </a>
        </h3>
        <h4 class="panel-body" style="color:black">
            <p>{{teamdata.blurb}}</p>
        </h4>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title" style="color:black">
          <a href tabindex="0" class="accordion-toggle" ng-click="toggleOpen()" uib-accordion-transclude="heading">
            <span uib-accordion-header ng-class="{'text-muted': isDisabled}">
              Them of Hack
            </span>
          </a>
        </h3>
        <h4 class="panel-body" style="color:black">
            <p>{{teamdata.theme_of_hack}}</p>
        </h4>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title" style="color:black">
          <a href tabindex="0" class="accordion-toggle" ng-click="toggleOpen()" uib-accordion-transclude="heading">
            <span uib-accordion-header ng-class="{'text-muted': isDisabled}">
              Current Team Members
            </span>
          </a>
        </h3>
        <h4 class="panel-body" style="color:black">
          <ul>
            <li ng-repeat="member in teamdata.existing_members">{{ member }}</li>
          </ul>
        </h4>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title" style="color:black">
          <a href tabindex="0" class="accordion-toggle" ng-click="toggleOpen()" uib-accordion-transclude="heading">
            <span uib-accordion-header ng-class="{'text-muted': isDisabled}">
              Current Skill Sets
            </span>
          </a>
        </h3>
        <h4 class="panel-body" style="color:black">
          <ul>
            <li ng-repeat="skill in teamdata.current_skill_sets">{{ skill }}</li>
          </ul>
        </h4>
      </div>
    </div>    

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title" style="color:black">
          <a href tabindex="0" class="accordion-toggle" ng-click="toggleOpen()" uib-accordion-transclude="heading">
            <span uib-accordion-header ng-class="{'text-muted': isDisabled}">
              Location
            </span>
          </a>
        </h3>
        <h4 class="panel-body" style="color:black">
            <p>{{teamdata.location}}</p>
        </h4>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title" style="color:black">
          <a href tabindex="0" class="accordion-toggle" ng-click="toggleOpen()" uib-accordion-transclude="heading">
            <span uib-accordion-header ng-class="{'text-muted': isDisabled}">
              Looking for Skills
            </span>
          </a>
        </h3>
        <h4 class="panel-body" style="color:black">
          <ul>
            <li ng-repeat="skill in teamdata.looking_for_skills">{{ skill }}</li>
          </ul>
        </h4>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title" style="color:black">
          <a href tabindex="0" class="accordion-toggle" ng-click="toggleOpen()" uib-accordion-transclude="heading">
            <span uib-accordion-header ng-class="{'text-muted': isDisabled}">
              Has a Guru?
            </span>
          </a>
        </h3>
        <h4 class="panel-body" style="color:black">
            <p>{{teamdata.has_a_guru}}</p>
        </h4>
      </div>
    </div>
</div>