<div ng-controller="ViewteamCtrl">

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title" style="color:black">
          <a href tabindex="0" class="accordion-toggle" ng-click="toggleOpen()" uib-accordion-transclude="heading">
            <span uib-accordion-header ng-class="{'text-muted': isDisabled}">
              Team Name
            </span>
          </a>
        </h3>
        <h4 class="panel-body" style="color:black">
            <p ng-model="teamdata.id">Something</p>
        </h4>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title" style="color:black">
          <a href tabindex="0" class="accordion-toggle" ng-click="toggleOpen()" uib-accordion-transclude="heading">
            <span uib-accordion-header ng-class="{'text-muted': isDisabled}">
              Spots Available
            </span>
          </a>
        </h3>
        <h4 class="panel-body" style="color:black">
            <p ng-model="teamdata.id">4</p>
        </h4>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title" style="color:black">
          <a href tabindex="0" class="accordion-toggle" ng-click="toggleOpen()" uib-accordion-transclude="heading">
            <span uib-accordion-header ng-class="{'text-muted': isDisabled}">
              Blurb
            </span>
          </a>
        </h3>
        <h4 class="panel-body" style="color:black">
            <p ng-model="teamdata.id">Hey, this is a fake team. Don't join us!</p>
        </h4>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title" style="color:black">
          <a href tabindex="0" class="accordion-toggle" ng-click="toggleOpen()" uib-accordion-transclude="heading">
            <span uib-accordion-header ng-class="{'text-muted': isDisabled}">
              Them of Hack
            </span>
          </a>
        </h3>
        <h4 class="panel-body" style="color:black">
            <p ng-model="teamdata.id">Health Care</p>
        </h4>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title" style="color:black">
          <a href tabindex="0" class="accordion-toggle" ng-click="toggleOpen()" uib-accordion-transclude="heading">
            <span uib-accordion-header ng-class="{'text-muted': isDisabled}">
              Current Team Members
            </span>
          </a>
        </h3>
        <h4 class="panel-body" style="color:black">
            <p ng-model="teamdata.id">Attribute, Budy, Crier</p>
        </h4>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title" style="color:black">
          <a href tabindex="0" class="accordion-toggle" ng-click="toggleOpen()" uib-accordion-transclude="heading">
            <span uib-accordion-header ng-class="{'text-muted': isDisabled}">
              Current Skill Sets
            </span>
          </a>
        </h3>
        <h4 class="panel-body" style="color:black">
            <p ng-model="teamdata.id">Java, C, JSON, Python</p>
        </h4>
      </div>
    </div>    

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title" style="color:black">
          <a href tabindex="0" class="accordion-toggle" ng-click="toggleOpen()" uib-accordion-transclude="heading">
            <span uib-accordion-header ng-class="{'text-muted': isDisabled}">
              Location
            </span>
          </a>
        </h3>
        <h4 class="panel-body" style="color:black">
            <p ng-model="teamdata.id">Wu & Chen</p>
        </h4>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title" style="color:black">
          <a href tabindex="0" class="accordion-toggle" ng-click="toggleOpen()" uib-accordion-transclude="heading">
            <span uib-accordion-header ng-class="{'text-muted': isDisabled}">
              Looking for Skills
            </span>
          </a>
        </h3>
        <h4 class="panel-body" style="color:black">
            <p ng-model="teamdata.id">UI, database</p>
        </h4>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title" style="color:black">
          <a href tabindex="0" class="accordion-toggle" ng-click="toggleOpen()" uib-accordion-transclude="heading">
            <span uib-accordion-header ng-class="{'text-muted': isDisabled}">
              Has a Guru?
            </span>
          </a>
        </h3>
        <h4 class="panel-body" style="color:black">
            <p ng-model="teamdata.id">Yes</p>
        </h4>
      </div>
    </div>


</div>